-img_path = 'assets/images/'
.caracteristicas-section(id="caracteristicas")  
        .container
            .caracteristicas-section__content
                .row.content-box
                    .col-sm-6
                    .col-sm-6.content-box__column
                        .content_icon
                            h3 Sin adivitivos
                            .item-icon
                                .item-icon__1
                                    img(src=img_path+"sal-marina.svg")
                                    p Sal de origen marino
                                .item-icon__2
                                    img(src=img_path+"sal-seleccionada.svg")
                                    p Seleccionada y secada a más de 100 C°
                                .item-icon__3
                                    img(src=img_path+"micronutrientes.svg")
                                    p Naturalmente contiene micronutrientes escenciales
                            .information-cotent
                                p Puedes solicitar fortificar el producto con yodato de potasio (30-40 ppm) y fluoruro de potasio (200-250 ppm) según Norma Técnica Peruana 209.015.
                            
