-
    img_path = 'assets/images/'

.composicion-section(id="composicion")  
        .composicion-section__content
            .composicion-section__content-sections 
                .img-secition 
                    img(src=img_path+"sacos.png")
                .blue-section 
                    .container 
                        .row 
                            .col-sm-6 
                            .col-sm-6 
                                h4 SAL DE MAR 
                                p No es solo sal, es naturalmente 
                                p.skyblue mucho más
                                .lines 
                                    .line-1
                                    .line-2
                                    .line-3
                                    .line-4
                .white-section
                    .container 
                        .row 
                            .col-sm-7 
                            .col-sm-5.elements-items
                                .element-item 
                                    .element-item_content 
                                        p MG
                                        label Magnesio
                                .element-item 
                                    .element-item_content 
                                        p K
                                        label Potasio
                                .element-item 
                                    .element-item_content 
                                        p Ca
                                        label Calcio
                                p.mt-2 y otros micronutrientes esenciales
                                    