-
    img_path = 'assets/images/'

.soon-section  
        .container
            .soon-section__content
                .row 
                    .col-sm-6 
                        h4 My pronto
                    .col-sm-6 
                .row 
                    .col-sm-3 
                       .items-soon 
                            img(src=img_path+"costa-sal.svg")
                            p.skyblue Sal Marina
                            p.text-white para Cocina y Mesa
                    .col-sm-3 
                       .items-soon 
                            img(src=img_path+"costanera.svg")
                            p.skyblue Sal Marina
                            p.text-white Gourmet Gruesa, Entrefina y Fina
                    
                    
