body {
  overflow-x: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  left: 0;
}
body > .over-menu {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: fixed;
  height: 100%;
  content: "";
  width: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9;
}

.menuWrapper{
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 3.81356px 11.4407px rgba(0, 0, 0, 0.1);
  margin-bottom: 4px;
  display: block;
  @include mq($from: lg) {
  display: none;
}
}

body.open-menu > .over-menu {
  visibility: visible;
  opacity: 1;
}
body.open-menu .menu-container {
  right: 0 !important;
}

a {
  text-decoration: none !important;
  outline: none;
}

.hidden {
  display: none;
}

section {
  position: relative;
  width: 100%;
  float: left;
}

header {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: transparent;
  width: 100%;
  float: left;
  position: fixed;
  z-index: 10;
}
header::before {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transform-origin: 0;
  background: #FFF;
  position: absolute;
  width: 100%;
  content: "";
  top: 0;
  right: 0;
  height: 0;
}
header .desk-menu .logo {
  position: absolute;
  float: left;
  text-align: center;
    padding-top: 0.5rem;
}



header .desk-menu .menu-container {
  float: left;
}
header .desk-menu .menu-container .menu-head,
header .desk-menu .menu-container .menu-foot {
  width: 100%;
  float: left;
  display: none;
}
header .desk-menu .menu-container .menu-head .e1 {
  padding: 3px 0;
  float: left;
}
header .desk-menu .menu-container .menu-head .e1 img {
  width: 29px;
  float: left;
  height: 29px;
}
header .desk-menu .menu-container .menu-head .client {
  color: #FFF;
  float: right;
}

header .desk-menu .menu-container .menu-head .client i {
  position: absolute;
  font-size: 30px;
  right: 0;
  top: 0;
}
header .desk-menu .menu-container .menu-foot {
  position: absolute;
  bottom: 0;
  padding: 15px 0;
}
header .desk-menu .menu-container .menu-foot .social {
  display: table;
  margin: 0 auto;
}
header .desk-menu .menu-container .menu-foot .social a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  position: relative;
  margin: 0 23px 0 0;
  color: #3e3e3e;
  font-size: 13px;
  text-align: center;
  padding: 5px 0;
}
header .desk-menu .menu-container .menu-foot .social a:last-child {
  margin: 0;
}
header .desk-menu .menu-container .menu-foot hr {
  margin: 15px auto 20px;
  display: table;
  width: calc(100% - 20px);
}





  header .hamburger-menu {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    position: absolute;
    top: 45px;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
    right: 0;
    z-index: 11;
  }
  header .hamburger-menu span {
    text-transform: uppercase;
    left: calc(-100% + -5px);
    padding: 8px 9px 8px 0;
    top: calc(50% - 18px);
    position: absolute;
    font-size: 13px;
    color: #FFF;
  }
  header .hamburger-menu .bar,
header .hamburger-menu .bar::after,
header .hamburger-menu .bar::before {
    width: 35px;
    height: 3px;
  }
  header .hamburger-menu .bar {
    position: relative;
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -o-transform: translateY(25px);
    transform: translateY(25px);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    background: #4e4e4e;
    top: -7px;
  }
  header .hamburger-menu .bar::before, header .hamburger-menu .bar::after {
    position: absolute;
    background: #4e4e4e;
    content: "";
    left: 0;
    border-radius: 5px;
  }
  header .hamburger-menu .bar::before {
    bottom: 10px;
    -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header .hamburger-menu .bar::after {
    top: 10px;
    -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header .hamburger-menu .bar.animate {
    background: rgba(255, 255, 255, 0);
  }
  header .hamburger-menu .bar.animate::after {
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header .hamburger-menu .bar.animate::before {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  header .desk-menu .menu-container {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #FFF;
    position: fixed;
    height: 100%;
    width: 250px;
    right: -250px;
    top: 0;
  }
  header .desk-menu .menu-container .menu-header-container {
    position: relative;
    float: left;
  }
  header .desk-menu .menu-container .menu-header-container ul {
    padding: 10px !important;
  }
  header .desk-menu .menu-container .menu {
    margin: 0;
    list-style: none;
  }
  header .desk-menu .menu-container .menu li.back {
    position: relative;
    display: block;
  }
  header .desk-menu .menu-container .menu li.back a {
    padding: 12px 12px 12px 35px !important;
  }
  header .desk-menu .menu-container .menu li.back a::before, header .desk-menu .menu-container .menu li.back a::after {
    background-color: #4e4e4e;
    position: absolute;
    content: "";
    height: 2px;
    width: 7px;
    top: 23px;
  }
  header .desk-menu .menu-container .menu li.back a::before {
    -webkit-transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
    -ms-transform: rotate(-45deg) !important;
    -o-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
    top: 20px !important;
    right: inherit !important;
    left: 15px !important;
  }
  header .desk-menu .menu-container .menu li.back a::after {
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    top: 24px !important;
    left: 15px !important;
  }
  header .desk-menu .menu-container .menu li.line {
    display: none !important;
  }
  header .desk-menu .menu-container .menu > li {
    width: 100%;
    float: left;
    margin: 0;
    text-align: left;
  }
  header .desk-menu .menu-container .menu > li a {
    padding: 12px;
    color: #4e4e4e !important;
    display: block;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children {
    position: initial;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children a {
    padding: 12px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children a::before, header .desk-menu .menu-container .menu > li.menu-item-has-children a::after {
    background: #4e4e4e;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children a::before {
    right: 6px !important;
    top: 22px !important;
    width: 7px !important;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children a::after {
    top: 26px !important;
    width: 7px !important;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu {
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block !important;
    background: #FFF;
    z-index: 1;
    top: 0;
    left: 100%;
    height: 100%;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu .sub-menu {
    margin-top: 0;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu.open-sub {
    left: 0%;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before, header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
    background-color: #4e4e4e;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    right: 6px !important;
    top: 22px !important;
    width: 7px !important;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
    -webkit-transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
    -ms-transform: rotate(-45deg) !important;
    -o-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
    right: 6px !important;
    top: 26px !important;
    width: 7px !important;
  }
  header .desk-menu .menu-container .menu > li:hover a:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 6px;
    top: 22px;
  }
  header .desk-menu .menu-container .menu > li:hover a::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 6px;
    top: 26px;
  }
  header .desk-menu .menu-container .menu-head {
    display: block;
  }
  header .desk-menu .menu-container .menu-foot {
    display: block;
  }
  header.small .hamburger-menu {
    top: 0px;
    
  }
  header.small .hamburger-menu span {
    color: #4e4e4e;
  }
  header.small .hamburger-menu .bar {
    background: #4e4e4e;
  }
  header.small .hamburger-menu .bar::before, header.small .hamburger-menu .bar::after {
    background: #4e4e4e;
  }
  header.small .hamburger-menu .bar.animate {
    background: rgba(255, 255, 255, 0);
  }

  .small{
    background-color: #fff;
    height: 60px;
    box-shadow: 0px 3.81356px 11.4407px rgba(0, 0, 0, 0.1);
  }