.productos-section {
    background-color: #002b59;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position-x: right;

    @include mq($from: lg) {
        background-image: url('/../../assets/images/fondo_3.jpg');
        height: 1000px;
     }

     &__content{
         padding: 5rem 0;

         .card-content{
             cursor: pointer;
             text-decoration: none;
         }

        .card-ferrol{
            background-color: transparent;
            border: 1px solid #fff;
            box-shadow: none;
            padding: 1rem;
            .card-img-top{
                min-height: 160px;
                object-fit: cover;
                max-height: 160px;
            }
            .card-title{
                font-size: 20px;
                color: #ffffff;
            }
        }
     }
}