
-img_path = 'assets/images/'
.heroFull-section  
        .heroFull-section__content
        .container 
            .row.pt-3.logo-content
                .col-sm-12.text-center 
                    img(src=img_path+"logo-blue.svg")
        .container
                .heroFull-section__nav
                     nav.hero-navbar
                        ul.nav
                            li.nav-item 
                                a.nav-link(href="/") Home
                            li.nav-item 
                                a.nav-link(href="#caracteristicas") Características
                            li.nav-item 
                                a.nav-link(href="#productos") Productos
                            li.nav-item 
                                a.nav-link(href="#industria") Industria
                            li.nav-item 
                                a.nav-link(href="#novedades") Novedades
                            li.nav-item 
                                a.nav-link(href="#contacto") Contacto
                .heroFull-section__text
                    .container
                        .item-1
                            h2 SAL FERROL 
                            p Su origen marino aporta un sabor único y distintivo.
                        .item-2
                            .item-2_content
                                h2 SAL DE MAR
                                p Naturalmente contiene micronutrientes esenciales <strong>100 % Producto Peruano</strong>