-
    img_path = 'assets/images/' 

div.menuWrapper
  .over-menu
  #wrap
    header#header-sroll.header
      .desk-menu
        .logo
          h1.logo-adn
            a(href="index.html" class="m-header__logo")
                img(src= img_path+"logo.png")
        nav.box-menu
          .menu-container
            .menu-header-container
              ul#cd-primary-nav.menu
                li.contact.menu-item
                  a(href='index.html') Inicio
                li.contact.menu-item
                  a(href='vende.html') Vende
                li.contact.menu-item
                  a(href='gestiona.html') Gestiona
                li.contact.menu-item
                  a(href='reparte.html') Reparte
                li.contact.menu-item
                  a(href='soporte.html') Soporte
                li.contact.menu-item
                  a(href='precio.html') Precio
                li.contact.menu-item
                  a(href='Demo') Demo
                li.contact.menu-item.mt-4
                  .button.button_primary-m( id="myBtn"  target="_blank")
                      span Registrar mi negocio 
            .menu-foot
              .social
                a(href="https://www.facebook.com/TuliveryPeru/" target="_blank")
                  span(class="iconify" data-inline="false" data-icon="uil:facebook-f" style="font-size: 32px;")
                a(href="https://api.whatsapp.com/send?phone=51932817673" target="_blank" )
                    span(class="iconify" data-inline="false" data-icon="icomoon-free:whatsapp" style="font-size: 28px;")
                a(href="https://www.instagram.com/tuliveryperu/" target="_blank")
                    span(class="iconify" data-inline="false" data-icon="tabler:brand-instagram" style="font-size: 32px;")
                a(href="https://twitter.com/TuliveryPeru" target="_blank")
                    span(class="iconify" data-inline="false" data-icon="akar-icons:twitter-fill" style="font-size: 32px;")
              hr
          .hamburger-menu
            .bar
